* {
    border-radius: 10px;
    padding-left: 110px;
    padding-right: 110px;
   
}


.columns {
    float: left;
    width: 250px;
    padding: 10px;
}


.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


.price:hover {
    box-shadow: 0 8px 12px 0 rgba(46, 16, 153, 0.61)
}


.price .header {
    background-color: #3e5bac;
    color: white;
    font-size: 25px;
}


.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}


.button {
    background-color: #4b66b1;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

